* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fafafa;
}

form {
    display: flex;
    flex-direction: column;
}

input,
button {
    border: 1px solid #333;
    padding: 7px;
    font-size: 18px;
    display: block;
    margin-bottom: 15px;
    max-width: 256px;
    width: 100%;
    border-radius: 2px;
    font-size: 1rem;
}

button {
    background-color: #333;
    color: #eeefff;
    cursor: pointer;
}

button:hover {
    background-color: #000;
    transition: background .3s;
}

#wrapper {
    padding: 15px;
}

#wrapper>span {
    display: block;
    padding: 5px;
    text-align: center;
    color: #111;
    font-size: .9rem;
}

#success {
    background-color: #2FBF71;
}

#error {
    background-color: #EF2D56;
}