{% extends 'base.html' %}

{% block head %}
<title>
    URL Shortener
</title>
{% endblock %}

{% block body %}
<div id="wrapper">
    <form id="form">
        <input type="text" name="url" placeholder="a url: https://www.example.com" required autocomplete="off">
        <input type="text" name="slug" placeholder="a slug: hufeue" autocomplete="off" />

        <button type="submit" id="submit">shorten</button>
    </form>

    <span id="success" style="display:none"></span>
    <span id="error" style="display:none"></span>

</div>
<div id='switch'>
    <div class="menu icon"></div>
</div>
<div id="board">
    <ul id="board-ul">
    </ul>
</div>

<script src="{{url_for('static', filename='js/script.js')}}"></script>
<script>
    // document.getElementById('switch').click();

    function copy(str) {
        const el = document.createElement('textarea');
        el.value = str;
        document.body.appendChild(el);
        el.select();
        document.execCommand('copy');
        document.body.removeChild(el);
    };

    if (typeof Storage !== undefined) {
        let ul = document.getElementById('board-ul');

        Object.keys(localStorage).forEach(key => {
            const url = localStorage.getItem(key);

            let liItem = document.createElement('li');
            let urlItem = document.createElement('a');

            urlItem.title = urlItem.innerText = url;

            let copyItem = document.createElement('a');
            copyItem.classList.add('copy');
            copyItem.innerText = 'copy!';
            copyItem.title = key;

            copyItem.addEventListener('click', event => {
                copy(document.URL + event.target.title);
                event.target.innerText = 'done!';
                window.setTimeout(() => {
                    event.target.innerText = 'copy!';
                }, 1000);
            });

            liItem.appendChild(urlItem);
            liItem.appendChild(copyItem);

            ul.appendChild(liItem);
        });
    }
</script>
{% endblock %}