{% extends 'base.html' %}

{% block head %}
<title>
    URL Shortener
</title>
{% endblock %}

{% block body %}
<div id="wrapper">
    <form action='/' method='POST'>
        <input type="text" name="url" placeholder="a url: https://www.example.com" required autocomplete="off">
        <input type="text" name="slug" placeholder="a slug: hufeue" autocomplete="off" />

        <button type="submit">shorten</button>
    </form>
    {% if short_url %}
    <span id="success">{{short_url}}</span>
    {% endif %}
    {% if error %}
    <span id="error">{{error}}</span>
    {% endif %}

</div>
{% endblock %}