{% extends 'base.html' %}

{% block head %}
<title>
    URL Shortener
</title>
{% endblock %}

{% block body %}
<div id="wrapper">
    <form action='/create/' method='POST'>
        <input class="url" type="text" name="url" placeholder="a url" required autocomplete="off">
        <input class="slug" type="text" name="slug" placeholder="a slug" required autocomplete="off" />

        <button type="submit">shorten</button>
    </form>
</div>
<script src="{{url_for('static', filename='js/script.js')}}"></script>
{% endblock %}